
<button class="add-board">
  Add Board
</button>

<ul>
  <% boards.each(function(board){ %>
    <li><a href="api/boards/<%= board.escape("id") %>"><%= board.escape("title") %></a></li>
  <% }) %>
</ul>
